* {
  margin: 0;
  padding: 0;

  color: white;
}

a {
  text-decoration: none;
  width:100%;
}

html {
  height: 100%;
}

body {
  font-family: 'Dosis', sans-serif;
  background-color: grey;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.screen {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: auto;
}



.main-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  height: fit-content;
}

.center-container {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  height: fit-content;
}


.column {
  flex-direction: column;
}

.fullscreen {
  height: 100%;
}

.main-box{ 
  display: flex;
  flex-direction: column;
  width: fit-content;
  min-width: 300px;
  max-width: 800px;
  background-color: rgb(102, 101, 101);
  justify-content: center;
  border-radius: 10px;
  margin:  10px;
  height: fit-content;
  
}

.top-center{
  align-self: center;
}


.second-box{
margin: 2%;
font-size: 2em;
max-width: 100%;

}

.note{
  text-align: justify;
  padding: 0 5px;
  font-size: 70%;
  
}

#date{
  text-align: left;
  font-size: 65%;
}

#title{
  font-size: 5em;
}

#sessionsDropdown{
  color: black;
  background-color: rgb(143, 143, 143);
  font-size: 0.5em;
  width: 90%;
  height: 40px;
}

.options{
  color: black;
  font-size: 0.75em;
}

.button{
  display: inline-block;
  width: 90%;
  background-color: rgb(160, 160, 160);
  border-radius: 10px;
  border: 2px solid grey;
}

.button:hover{
  background-color: grey;
  border-radius: 10px;
  border: 2px solid grey;
}

.button:active{
  background-color: rgb(100, 100, 100);
  border-radius: 10px;
  border: 2px solid grey;
}

.tab {
  padding-left: 30px;
}


