* {
  margin: 0;
  padding: 0;

  color: white;
}

a {
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  font-family: 'Dosis', sans-serif;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.Container {
  margin: 0 auto;
  width: 60%;
}

.controls{
  font-size: 30px;
  display: inline-block;
  position: relative;
  left: 30%;
}

.button {
  background-color: brown;
  border-radius: 4px;
  padding: 2px;
  width: 400px;
  min-height: 100%; /* for the latest browsers which support min-height */
  height: auto !important; /* for newer IE versions */
  height: 100%;
  display: block;
}

.button:active{
  background-color: rgb(88, 21, 21);
}

.control {
  text-align: center;
  margin: 10px auto;
  height: 40px;
}


#sessionsDropdown {
  color: black;
  display: block;
  min-height: 100%; /* for the latest browsers which support min-height */
  height: auto !important; /* for newer IE versions */
  height: 100%;
  width: 100%;
}

#sessionsDropdown > option {
  color: black;
}

.titleDiv {
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#title {
  width:20%;
}
